body {
    background-color: rgb(52, 50, 50);
    color: white;
}

#box {
    /* margin: auto; */
    position: absolute;
    top: 8%;
    align-items: center;
    right: 1vw;
}

button {
    /* width: auto; */
    margin: auto;
    position: relative;
    top: 60vh;
    right: 2vw;
    width: 175px;
}

img {
    top: 50%;
    position: relative;
    margin: auto;
    /* top: ; */
    /* left: 32%; */
    /* width: 10%; */
    /* height: 20%; */
    /* margin: auto; */
    width: 96vw;
    height: 45vh;
}