body {
    background-color: rgb(52, 50, 50);
    color: white;
}

button {
    /* width: auto; */
    position: relative;
    top: 54%;
    width: 200px;
}

img {
    position: relative;
    top: 20%;
    left: 32%;
    /* width: 10%; */
    /* height: 20%; */
    /* margin: auto; */
    width: 35%;
    height: 35%;
}